.main-body {
    margin: 0;
    width: 80%;
    height: 70%;
    padding: 10% 10%;
    background-color: #3d3d3d;
    color:white;
    text-align: center;

}

.introduction {
    text-align: justify;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:1200px) {
    .introduction {
        font-size: 14px;
      }

      .main-body {
        padding: 20% 10%;
    }
}

@media screen and (max-height:700px) {
    .introduction {
        font-size: 10px;
      }

      .main-body {
        padding: 10% 10%;

    
    }
}