.App {

}

body {
  background-color: #3d3d3d;
}

.hyperlink {
  color: lightblue;
}

.margin-bottom {
  margin-bottom: 10px;
}

main-body {
  width: 100%;
}

html, body {
  height:100%;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

#root {
  height:100%;
}

.cv-pdf {
  width:1200px;
  height: 700px;
}

.CNNImg {
  width:200px;
  height:auto;
}

.drawdroidImg {
  width:200px;
  height:400px;
}

.profile-picture {
  width:300px;
  height:auto;
}

.contact-header {
  text-align: left;
  width:200px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-detail {
  width:100px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-detail * {
  float: right;
}

.cert {
  width:600px;
  height:auto;
  
}

.cert-none {
  display: none;
}

.cert-invisible {
  animation: fadeOut 0.5s;
}

.cert-show {
  display: inline-block;
  animation: fadeIn 0.5s;
}

.cert-invisible-prev {
  animation: fadeOutPrev 0.5s;
}

.cert-show-prev {
  display: inline-block;
  animation: fadeInPrev 0.5s;
}

.pageHeading {
  margin-top: 0;
  margin-bottom: 50px;
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateX(0);}
  50% { opacity: 0.01; transform: translateX(-5%);}
  100% { opacity: 0; transform: translateX(-10%);}
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateX(10%);}
  50% { opacity: 0.01; transform: translateX(5%);}
  100% { opacity: 1; transform: translateX(0);}
}

@keyframes fadeOutPrev {
  0% { opacity: 1; transform: translateX(0);}
  50% { opacity: 0.01; transform: translateX(5%);}
  100% { opacity: 0; transform: translateX(10%);}
}

@keyframes fadeInPrev {
  0% { opacity: 0; transform: translateX(-10%);}
  50% { opacity: 0.01; transform: translateX(-5%);}
  100% { opacity: 1; transform: translateX(0);}
}


@media screen and (max-width:1600px) {
  .cv-pdf {
    width: 800px;
    height: 600px;
  }
}

@media screen and (max-width:1400px) {
  .cv-pdf {
    width: 500px;
    height: 600px;
  }
}

@media screen and (max-width:700px) {
  .cert {
    width:300px;
    height:auto;
  }

  .cv {
    position:absolute;
    left: 0%;
    width: 100%;
    height: 100%;
  }

  .contact-header {
    text-align: left;
    width:150px;
    font-size: 10px;
  }
  
  .contact-detail {
    width:100px;
    font-size: 10px;
  }

  .contact-detail * {
    float: right;
  }

  .profile-picture {
    width:250px;
    height:auto;
  }
}

@media screen and (max-height:700px) {
  .pageHeading {
    display: none;
  }

  .CNNImg {
    width:50px;
    height:auto;
  }

  .cert {
    margin-top: 20px;
    width:200px;
    height:auto;
  }

  .contact-header {
    text-align: left;
    width:150px;
    font-size: 10px;
  }
  
  .contact-detail {
    width:100px;
    font-size: 10px;
  }

  .contact-detail * {
    float: right;
  }

  .profile-picture {
    width:50px;
    height:auto;
  }
}